body {
    background: #5CA2C6;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.title {
    left: -30px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
    font-style: oblique;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120px;
}

.head {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
    background: rgba(255, 173, 173, .8);
    position: relative;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.head::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: inset -22px 5px 20px 3px rgba(0, 0, 0, .2); 
}

.head::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 30px;
    background: rgba(255, 173, 173, .8);
    margin-top: 300px;
    border: 10px solid black;
}

.left, .right {
    background: black;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    position: absolute;
    display: flex;
    align-items: center;
}

.left {
    margin-left: -180px;
}

.right {
    margin-left: 180px;
}

.left::before, .right::before {
    content: "";
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: inset -22px 5px 0 3px rgba(255, 255, 255, 0.164);
}

.right::after, .left::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.mouth {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    border: 10px solid black;
    border-radius: 50%;
    align-self: center;
    clip-path: ellipse(51% 15% at 50% 100%);
}

.body {
    content: "";
    position: absolute;
    background: blue;
    width: 120px;
    height: 100px;
    border: 10px solid black;
    top: 350px;
    border-radius: 44% 39% 0% 0% / 28% 26% 0% 0% ;

    &::before, &::after {
        position: absolute;
        content: "";
        width: 15px;
        height: 80px;
        top: 30px;
    }
    &::before {
        border-right: 10px solid black;
    }
    &::after {
        border-left: 10px solid black;
        right: 0;
    }

}